<?xml version="1.0" encoding="utf-8" ?>
<nlog throwConfigExceptions="true"
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file"
      type="File"
      layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring}"
      fileName="${basedir}/logs/adrilight.${shortdate}.log"
      archiveFileName="${basedir}/logs/archives/adrilight.{#}.log"
      archiveEvery="None"
      archiveNumbering="DateAndSequence"
      archiveAboveSize="1048576"
      archiveDateFormat="yyyyMMdd"
      maxArchiveFiles="10"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="utf-8" />
    <target name="nightlight"
      type="File"
      layout="${assembly-version} ${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring}"
      fileName="${basedir}/logs/adrilight.nightlight.${shortdate}.log"
      archiveFileName="${basedir}/logs/archives.nightlight/adrilight.{#}.log"
      archiveEvery="None"
      archiveNumbering="DateAndSequence"
      archiveAboveSize="1048576"
      archiveDateFormat="yyyyMMdd"
      maxArchiveFiles="10"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="utf-8" />
  </targets>
  <rules>
    <logger name="*"
      minlevel="Debug"
      writeTo="file" />
    <logger name="adrilight.Util.NightLightDetection"
      minlevel="Debug"
      writeTo="nightlight" />
  </rules>

</nlog>