<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bambilight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Bambilight.Properties.Settings>
            <setting name="SPOTS_X" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SPOTS_Y" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LEDS_PER_SPOT" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OFFSET_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OFFSET_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TRANSFER_ACTIVE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OVERLAY_ACTIVE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COM_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="SATURATION_TRESHOLD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPOT_WIDTH" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="SPOT_HEIGHT" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="MIRROR_X" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MIRROR_Y" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OFFSET_LED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BORDER_DISTANCE_X" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BORDER_DISTANCE_Y" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AUTOSTART" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="START_MINIMIZED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MINIMUM_REFRESH_RATE_MS" serializeAs="String">
                <value>0</value>
            </setting>
        </Bambilight.Properties.Settings>
    </userSettings>
</configuration>